{% extends 'todo/base.html' %}
{% load todotags %}

{% block title %} Tarea {{ t }} {% endblock %}

{% block content %}

<h1 class="title display-4">{{ task.project_id }}-{{ task.pk }}</h1>

<div class="card card-info">
  <div class="card-header">
    <h1 class="card_title">{{ task.title }}</h1>
  </div>
  <div class="card-body">
   <ul class="list-group">  
    <li class="list-group-item">{{ task.desc|default:"Sin descripción" }} </li>
    <li class="list-group-item">Proyecto {{ task.project_id }}</li>
    <li class="list-group-item">Creada el {{ task.created|date:"d/M/Y"}}</li>
    <li class="list-group-item">Prioridad {{ task.high_priority|yesno:"alta,baja" }}</li>
    <li class="list-group-item">Tamaño {{ task.size|as_task_size }}</li>
    <li class="list-group-item">{{ task.is_due|yesno:"Fuera de plazo,No está fuera de plazo" }}</li>
    <li class="list-group-item">{{ task.is_closed|yesno:"Tarea Abierta,Cerrada" }}</li>
   </ul>
  </div><!-- de card-body --> 
 </div><!-- de card --> 

{% if task.document_set.count %}
<ul>
  {% for d in task.document_set.all %}
    <li>{{ d }}
      {{ d.archive }}
      {{ d.archive.size }}
      {{ d.archive.url }} 
      <a href="{{ d.archive.url }}">Descargar</a>
    </li>
  {% endfor %}

</ul>
{% endif %}


{% endblock content %}
