<nav class="navbar navbar-expand-sm navbar-dark"
    role="navegation"
    style="background-color: #336699;">
    <a class="navbar-brand" href="{% url 'homepage' %}">TASK ᴙ' US</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto justify-content-end">
      <li class="nav-item{% if request.path == '/proyectos/' %} active{% endif %}">
        <a class="nav-link" href="/proyectos/">Proyectos</a>
      </li>
      <li class="nav-item{% if request.path == '/tareas/' %} active{% endif %}">
        <a class="nav-link" href="/tareas">Tareas</a>
      </li>
    </ul>

      <form method="POST" action="/buscar" class="form-inline mt-2 mt-md-0">
        {% csrf_token %}
        <input name="q" 
          value="{{q|default:''}}"
         class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>


  </div>
  
</nav>
