{% extends "todo/base.html" %}
{% load todotags %}
{% block title %}Tareas activas{% endblock %}

{% block content %}

<h1 class="title">Tareas</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Título</th>
            <th>Tamaño</th>
            <th class="priority">Prioridad</th>
            <th>Proyecto</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tareas %}
        <tr>
            <td>
        <a href="{% url 'detail_task' t.pk %}">
                {{ t.title }}
              </a>
            
            </td>
            <td>
                {% show_size t %} 
                {{ t.size|as_task_size:"short" }}
            </td>
            <td class="priority">
                {% show_priority t %}
            </td>
            <td>{{ t.project_id }}
            <br>{{ t.project.name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
